<div style="height: 100%;">
	<mat-grid-list cols="5" style="height: 100%;">
		<mat-grid-tile colspan="3" style="height: 100%;">
			<div style="display: flex; align-items: flex-start; width: 100%; height: 100%;">
				<mat-card style="width: 100%; height: 50%; margin: 2%; padding: 2%;" class="mat-elevation-z5">
					<app-zahtev-zig-content [in]="zahtev"></app-zahtev-zig-content>
				</mat-card>
			</div>
		</mat-grid-tile>
		<mat-grid-tile colspan="2" style="height: 100%;">
			<div style="display: flex; align-items: flex-start; width: 100%; height: 100%;">
				<mat-card style="width: 80%; height: 25%; margin: 20px; padding: 2%;" class="mat-elevation-z5">
					<app-resi></app-resi>
				</mat-card>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div>

  