<mat-sidenav-container class="example-container" style="height: 940px !important;">
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<div>
				<a mat-list-item href="/"><mat-icon>home</mat-icon>&nbsp; Početna</a>
				<a mat-list-item routerLink="novi-zahtev"><mat-icon>create</mat-icon>&nbsp;Novi zahtev</a>
				<a mat-list-item routerLink="moji-zahtevi"><mat-icon>library_books</mat-icon>&nbsp;Moji zahtevi</a>
				<a mat-list-item routerLink="pretraga"><mat-icon> search</mat-icon>&nbsp;Pretraga</a>
				<a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>&nbsp;Izloguj se</a>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content" style="height: 940px;">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>