<div style="margin-top: 2%;">
	<mat-card class="mat-elevation-z5">
		<mat-card-header>
			<mat-card-title>
				Zahtev
			</mat-card-title>
			<mat-card-subtitle>
				{{rezultat?.podnosilac.ime._text}}
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div style="margin-left: 12px; font-size: x-large;">
				{{humanReadable(rezultat?.informacije_zavoda.broj_prijave._text)}}
			</div>
		</mat-card-content>
		<mat-card-actions style="margin-left: 12px;">
			<button mat-stroked-button (click)="detailed()">Detalji</button>
		</mat-card-actions>
	</mat-card>
</div>