<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Prijava">
            <div style="margin-top: 20px;">
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Korisničko ime</mat-label>
                        <input matInput [(ngModel)]="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Lozinka</mat-label>
                        <input matInput type='password' [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-stroked-button (click)="login()">Prijavi se</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Registracija">
            <div style="margin-top: 20px;">
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Email adresa</mat-label>
                        <input matInput [(ngModel)]="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Lozinka</mat-label>
                        <input matInput type='password' [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Potvrda lozinke</mat-label>
                        <input matInput type='password' [(ngModel)]="passwordConfirm">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill" style="width: 48%;">
                        <mat-label>Ime</mat-label>
                        <input matInput [(ngModel)]="name">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 48%; margin-left: 5px;">
                        <mat-label>Prezime</mat-label>
                        <input matInput [(ngModel)]="lastname">
                    </mat-form-field>
                </div>
                <div class="mt-2 mb-5">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="gradjanin" checked="true">Građanin</mat-radio-button>
                        <mat-radio-button value="sluzbenik" style="margin-left: 16px; margin-bottom: 16px;">Službenik</mat-radio-button>
                      </mat-radio-group>                      
                </div>

                <div class="mt-3">
                    <button mat-stroked-button (click)="register()" class="mt-4">Registruj se</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
  
</div>
<div mat-dialog-actions>
</div>