<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Prijava">
            <div style="margin-top: 20px;">
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Korisničko ime</mat-label>
                        <input matInput [(ngModel)]="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Lozinka</mat-label>
                        <input matInput type='password' [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-stroked-button (click)="login()">Prijavi se</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Registracija">
            <div style="margin-top: 20px;">
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Email adresa</mat-label>
                        <input matInput [(ngModel)]="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Lozinka</mat-label>
                        <input matInput type='password' [(ngModel)]="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Potvrda lozinke</mat-label>
                        <input matInput type='password' [(ngModel)]="passwordConfirm">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill" style="width: 48%;">
                        <mat-label>Ime</mat-label>
                        <input matInput [(ngModel)]="name">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 48%; margin-left: 5px;">
                        <mat-label [(ngModel)]="lastname">Prezime</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-stroked-button (click)="register()">Registruj se</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
  
</div>
<div mat-dialog-actions>
</div>